<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="QBJSParser Test Suite">
            <directory>./tests/</directory>
            <exclude>./tests/Util</exclude>
        </testsuite>
    </testsuites>
    <!-- Add a filter to make sure we don't count vendor and Tests in the coverage report -->
    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>